.formEvento{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 32px 28px;
    margin: 64px auto;
    background-color: var(--fundo-componentes);
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
}