.apresentacao_section h3 {
    color: var(--branco);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 2em;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 10%;
    font-family: var(--fonte-orbitron);
}
.cards_section_container{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: flex-start;
}